
<div class="container" ng-if="!listar" ng-repeat="campanha in campanhas">
  <div class="row justify-content-center" >
    <div class="col">
      <div class="circle-tile">
        <a ng-click="onclick(campanha)">
          <div class="circle-tile-heading custom">
            <i class="fa fa-check fa-fw fa-3x" style="cursor: pointer;"></i>
          </div>
        </a>
        <div class="circle-tile-content custom">
          <div class="circle-tile-description text-faded">
            <p>Título da Campanha : {{campanha.titulo}}</p>
            <p>Data de Início : {{campanha.dataInicio}}</p>
            <p>Data do fim : {{campanha.dataFinal}}</p>
            <p>Descrição : {{campanha.descricao}}</p>
          </div>
          <a ng-click="onclick(campanha)" class="circle-tile-footer">Participar <i class="fa fa-chevron-circle-right" style="cursor: pointer"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>


