<div class="container" >
    <div class="card" style="min-height:250px;">
        <form id="RegisterValidation">
            <div class="card-content">
                <h4 class="card-title">
                   Realizar Doação
                </h4>

                </br>

                <!-- Doação -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Quantidade"
                                   ng-model="doacao.quantidade" required = "required">
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control"required="required" ng-model="doacao.unidadeMedida">
                                <option disabled="disabled">Selecione</option>
                                <option value="{{Kg}}">Kilo(s)</option>
                                <option value="{{Lt}}">Litro(s)</option>
                                <option value="{{Pc}}">Pacote(s)</option>
                                <option value="{{Pca}}">Peça(s)</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Item"
                                   required="required" ng-model="doacao.descricao">
                        </div>
                    </div>
                </div>

                </br>

                <div class="row">
                    <div class="col-sm-12">
                        <label class="col-form-label">
                            Descrição
                            <small>*</small>
                            O que vc tem a dizer sobre esta campanha?
                        </label>
                        <textarea class="form-control"
                                  type="text"
                                  ng-model="doacao.descricaoCampanha"
                                  rows="5">
                        </textarea>
                    </div>
                </div>

                </br>

                <div class="form-footer text-right">
                    <button ng-click="back()"
                            class="btn">Voltar</button>

                    <button ng-click="save(doacao)"
                            class="btn btn-primary">Confirmar Doação</button>
                </div>
            </div>

        </form>
    </div>
</div>