
<div class="container" >
    <div class="card" style="min-height:250px;">
        <form id="RegisterValidation">
            <div class="card-content">
                <h4 class="card-title">
                    Cadastrar
                </h4>

                <div class="form-group">
                    <div class="row">

                        <div class="col-sm-8">
                            <label class="col-form-label">
                                Nome
                                <small>*</small>
                            </label>

                            <input class="form-control"
                                   type="text"
                                   ng-model="pessoa.nome"/>
                        </div>

                        <div class="col-sm-4">
                            <label class="col-form-label">
                                CPF
                                <small>*</small>
                            </label>
                            <input class="form-control"
                                   type="text"
                                   ng-model="pessoa.cpf"/>
                        </div>

                    </div>

                    </br>

                    <div class="row">
                        <div class="col-sm-4">
                            <label class="col-form-label">
                                Endereço
                                <small>*</small>
                            </label>
                            <input class="form-control"
                                   type="text"
                                   ng-model="pessoa.endereco"/>
                        </div>

                        <div class="col-sm-3">
                            <label class="col-form-label">
                                Telefone
                                <small>*</small>
                            </label>
                            <input class="form-control"
                                    ui-mask="(99) 9999-9999"
                                    type="text"
                                    ng-model="pessoa.telefone" />
                        </div>

                        <div class="col-sm-3">
                            <label class="col-form-label">
                                Cidade
                                <small>*</small>
                            </label>
                            <input class="form-control"
                                   type="text"
                                   ng-model="pessoa.cidade"/>
                        </div>

                        <div class="col-sm-2">
                            <label class="col-form-label">
                                Estado
                                <small>*</small>
                            </label>
                            <input class="form-control"
                                   type="text"
                                   ng-model="pessoa.estado"/>
                        </div>

                    </div>
                </div>

                </br>

                <div class="form-footer text-right">
                    <button ng-click="back()"
                            class="btn">Voltar</button>

                    <button ng-click="save(pessoa)"
                            class="btn btn-primary">Cadastrar</button>
                </div>
            </div>

        </form>
    </div>
</div>